[mongo_config]
mongo_db_uri=mongodb+srv://medspa:medspa_thanos@primary.i3ondxg.mongodb.net/test
mongo_db_name=GOOGLE_SHEET_PULL
mongo_db_backup_name=GOOGLE_SHEET_DATA_BACKUP
mongo_db_coll_procedure_risk=PROCEDURE RISK INPUTS
mongo_db_coll_sun_sensitivity=SUN SENSITIVTY INPUTS
mongo_db_coll_hq=HQ INPUTS
mongo_db_coll_retinol=RETINOL INPUTS
drop_coll_bool=True

[input_files]
g_sheets_url=https://script.google.com/macros/s/AKfycbysUsIeKcTxsYPz7bdR7JMyaZ9vzabM3NstO58mGb-EZTK_0ipTABlaHEUaKrBm1w8/exec
sheet_name1=procedure_risk
sheet_name2=sun_sensitivity
sheet_name3=hq
sheet_name4=retinol